/* 背景設定 */
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header設定 */
/* menu */
.menu-container{
  display: none;
}
#menu-icon{
  color: #262F7E;
  padding-right: 20px;
  font-size: 2.2rem;

}
header{
  width: 80%;
  background-color: #ECF2F7;
  border: none;
  border-radius: 40px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;

 
}
.logo-container2{
  display: none;
}
.logo-container{
  cursor: pointer;
}
.logo{
  width: 80px;

}

.navbar ul,.activity ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;

  
}

.navbar ul li a{
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin:0 .6em;
  text-decoration: none;
  line-height: 1.6;
}
.navbar ul li a:hover{
  background-color: #1048D8;
  color: white;
  padding: .2em .6em;
  margin: 0;
  border-radius: 20px;

}

.activity ul li a{
  color: black;
  margin: 0 .5em;
  text-decoration: none;
  font-size: 1.2rem;
 }
 .activity ul li a:hover{
  text-decoration: underline;
 }
 /* main */
 /* 商品頁上方 */
 .section1{
  margin-bottom: 100px;
  margin-top: 60px;
 }
 .select-section{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  justify-content:center;
  align-items: center;

 }
 .select-section img{
  width: 360px;
  height: 300px;
  margin-right: 180px;
 }
 .value{
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  justify-content: space-evenly;
  align-items: center;

 }
 .value p{
  margin-right: 20px;
  font-size: 14px;
 }
 /* 選擇方案 */
 .btn-container{
  text-align: center ;
  margin-top: 10px;
 }
 .btn{
  padding: 10px 18px;
  font-size: 18px;
  background-color: #ECF2F7;
  font-weight: 600;
  border: none;
  cursor: pointer;
 }
.select-btn:hover{
  background-color: #262F7E;
  color: white;

}
 
 /* 取票方式 */
 .ticket-method{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
 }
 .method-title{
  font-weight: 600;
  margin-right: 5px;
 }
 .method-container{
  border: 1px solid black;
  margin: 10px 5px;
  padding: 2px 10px;
  cursor: pointer;
 }
 

 .active {
  background-color: black;
  color: white;
  cursor: pointer;
}
 /* 票券數量 */
 .ticket-quantity{
  display: flex;
  flex-direction: row;
  align-items: center;
 }
 .square{
  border: 1px solid black;
  padding: 2px 7px;
  cursor: pointer;
 }
 .number-text{
  margin-right: 40px;
  font-weight: 600;
 }
 .number{ 
  padding-left: 10px;
  padding-right: 10px;
  cursor:text;
 }
 /* 購買按鈕 */
 .cart-btn{
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
  cursor: pointer;
 }
 /* 優惠組合 */
 .section2{
  width: 90%;
  background-color: #ECF2F7;
  padding-top: 20px;
  margin: 0 auto;

 }
 .section2-title{
  margin-left: 80px;
 }
 .discount-outside-container{
  width: 80%;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
 }
.discount-inner-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.discount-symbol{
  font-size: 32px;
}
 .option-picture{
  width: 160px;
  height: 120px;
 }
 .option-container p{
  margin-top: -5px;
 }
 .discount-text{
  margin-left: 80px;

  margin-top: -60px;
 }
 .discount-price{
  text-decoration: line-through;
 }
 .discount-btn{
  background-color: #1048D8;
  color: white;

 }
 /* 內容簡介 */
.section3{
  width: 90%;
  margin: 0 auto;

}
.section3 h3{
 margin-left: 10%;
}
/* 箭頭 */
.context{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-container{
  width: 80%;
  margin: 10px auto;
}

 /* footer */
 .footer{
  margin: 0 auto;
  background-color: #262F7E;
  width: 90%;
  color: white;
}
.darkblue{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;


}
.darkblue .logo{
  width: 200px;


}
.darkblue .inner-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.darkblue .icon-container{
  text-wrap: nowrap;
  margin-left: 20px;
}
.icon-container i{
  color: white;
  margin: auto 10px;
  cursor: pointer;
}
/* 超連結及圖片 */
.bold{
  font-weight: bold;
  
}


.link-list{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 120px;
  color: white;
  

}



.link-list ul li{
  margin-bottom: 15px;
  list-style-type: none;

  
}
.link-list ul li a{
  text-decoration: none;
  color: white;
  
  text-wrap: nowrap;
}
.link-list ul li a:hover{
  text-decoration:underline;
}

.disclaimer{
  padding: .3em .5em;
}
/* 響應式 */


@media (max-width:1000px){
  /* header */
  header{
    padding:.1em .4em;
  }

  /* link list */

  .link-list ul{
    margin-left: 0;
  }
  .link-list-container{
    position: absolute;
    top: 120px;
    font-size: 1.2rem;

  }
  .darkblue .inner-container{
    padding-bottom: 220px;
    position: relative;
  }
 
}
@media(max-width:960px){

  /* navbar */
  
  header{
    display: flex;
    flex-direction: column;
  }
  .logo{
    width: 160px;
    padding-top: 2em;
  }
  .navbar-container{
    flex-direction: column;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .navbar ul li:hover a{
    color: white;
  }
  /* main */
  /* 商品圖 */
  .select-section img{
    width: 240px;
    height: 200px;
    margin-right: 100px;
  }
  /* 優惠組合 */

  .option-container img{
    width: 120px;
    height: 80px;
  }
  .discount-outside-container{
    margin-left: 50px;
  }

  
  


  /* footer link */
  .link-list{
    position: absolute;
  }
}
@media (max-width: 740px){

  /* navbar */
  body{
    position: relative;
  }
  
  header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height:5em;

    
  }
  .menu-container{
    display: block;
  }
  .navbar-container{
    transform: translateX(-600px);
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 80%;
    height: 600px;
    background-color:#262F7E;
    z-index: 1;
    padding-top: 0;
    transition:all 500ms ease-in-out;
    
 
  }
  /* logo */

  .logo-container{
    padding-bottom: 1.2em;
  }
  
  .logo-container2{
    display: block;
    display: flex;
    margin: 0 auto;
  }
  .logo{
    padding-left: 2em;
  }
  .navbar{

    padding-left: -30px;

  }

  .navbar ul li a{
    color: white;
    margin: 0 0;
    padding: 0 0;
  }
  .navbar ul li:hover{
    width: auto;
  }

  .navbar ul li:hover a{
    color: white;
  }
  /* activity */
  .activity ul li a{
    color: white;
  }
  .activity{

    display: flex;
    margin: 0 auto;

  }

/* logo大小 */
  .logo{
    width: 100px;
  }
  /* main */
  main{
    margin-top: 160px;
  }
  /* 商品選項 */
  .select-section{
    flex-direction: column;

  }
  .select-section img{
    transform: translateX(40px);
  }
  /* icon container */
  .icon-container i{
    margin: auto 4px;
    

  }
  /* 優惠組合 */
  .discount-inner-container{
    width: 35%;
  }
  .option-container img{
    width: 80px;
    height: 60px;
    margin-right: 20px;

  }
  .section2-title{
    font-size: 14px;
  }
  .option-container p{
    font-size: 10px;
  }
  .discount-text h3{
    font-size: 14px;
  }
  .discount-text p{
    font-size: 10px;
  }
  .discount-btn{
    font-size: .7rem;
  }
  
 }
 @media(max-width:600px){
  .select-section{
    padding-left: 20px;
  }
  .section2{
    height: 300px;
  }
  .discount-outside-container{
    flex-direction: column;
    margin-left: 0px;

  }
  .discount-inner-container{
    padding-bottom: 30px;
    width: 60%;
  }
  .discount-text{
    width: 90%;
  }
  
 }
 
 @media(max-width:480px){
  /* header */
  header{
    width: 90%;
  }


  .navbar-container{
    width: 60%;
  }
  /* footer */
  .disclaimer{
    width: 400px;
  }
  .darkblue .logo{
    width: 6em;
  }
  .icon-container i{
    margin: auto 4px;
    
  }
  .link-list ul li a{
    font-size: 10px;
  }
}

@media(max-width:420px){

  /* footer */
  .disclaimer{
    font-size: 1rem;
    margin-top: -200px;

  }
  .link-list{
    display: none;
  }
 }

