body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.container{
  --bg-image:url('../image/index/indexpic.jpeg');
  --bg-image-filter:opacity(.8) brightness(.8); 
  object-position: bottom;
  width: 1200px;
  height: 560px;
  margin: 20px auto;
  object-fit: contain;
  border-radius: 50px;
  position: relative;
  isolation: isolate;
  
  
  
}
/* 背景圖片filter */
.container::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50px;
  background-image:var(--bg-image);
  filter: var(--bg-image-filter);
}
/* header-container上排設定 */
.upperHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.logo{
  width: 120px;
  cursor: pointer;
}
/* navbar設定 */
.navbar ul{

display: inline-block;
display: flex;
flex-direction: row;
list-style-type: none;
  
}

.navbar ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin:0 14px;

}
.navbar ul li a:hover{
  background-color: #1048D8;
  color: white;
  padding: 7px 14px;
  margin: 0;
  border-radius: 20px;

}
.activity ul{
  display: inline-block;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.activity ul li a{
  color: black;
  margin: 0 10px;
  text-decoration: none;
 }
 .activity ul li a:hover{
  text-decoration: underline;
 }
/* header-container文字跟按鈕 */
.header-content{
  margin-left: 50px;
  margin-top: 160px;
}
.header-title{
  color: white;

}
.header-subtitle{
  color:#073D8C
}
.btn{
  color: white;
  padding: 10px 18px;
  background-color:#1048D8 ;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover{
  background-color: white;
  color: #1048D8;
  border:2px solid #1048D8;
}
/* 推薦列表 */
.recommend-list-container{
  width: 1200px;
  margin: 20px auto;
  margin-top: 60px;
  margin-bottom: 100px;
}
.recommend-list{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  
}
.recommend-item{
  cursor: pointer;
  
}
.recommend-item a{
  text-decoration: none;
  color: black;
}
.recommend-item:hover{
  filter: brightness(80%);
}

.recommend-item img{
  width: 320px;
  height: 330px;
  object-fit: cover;
  border-radius: 40px;
  
}
.recommend-item h3{
  
  margin-top: -5px;
  padding-left: 20px;
}
.recommend-item p{
  margin-top: -10px;
  padding-left: 20px;
}
/* 熱門景點 */
.popular-location-container{
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  
}
.lightblue{
  background-color: #ECF2F7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lightblue img{
  padding: 60px 100px;
  width: 600px;
}
.lightblue-text{
  margin-left: 100px;
  margin-top: 160px;
}
.lightblue-text button a{
  margin-top: -15px;
  margin-bottom: 30px;
  list-style-type: none;
  color: white;
}
.darkblue{
  background-color: #262F7E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}
.darkblue h3{
  color: white;
}
.drakblue .social-media{
  align-items: center;
  display: flex;
  flex-direction: row;
   border: 2px solid red;
}
i{
  color: white;
  margin: auto 10px;
  cursor: pointer;
}
/* 超連結及圖片 */
.bold{
  font-weight: bold;
  
}
.link-list-container{
  width: 1200px;
  margin-top: 60px;
}
.link-list{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 120px;
  

}
.link-list ul{
  margin-left: 40px;

}
.link-list ul li{
  margin-bottom: 15px;
  list-style-type: none;
  
}
.link-list ul li a{
  text-decoration: none;
  color: black;
}
.link-list ul li a:hover{
  text-decoration:underline;
}

.link-list-container{
  display: flex;
  width: 1200px;
  margin: 100px auto;
  justify-content: space-evenly;
}
.link-list-container img{
  width: 300px;
  height: 260px;
  object-fit: cover;
  object-position: top;
  display: inline-block;
  
}
/* footer */
footer{
  width: 1200px;
  margin: 0 auto;
  background-color: #262F7E;
  color: white;
  padding: 6px 25px;
}

