body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
/* 小header */
.hidden-header{
  transform: translateY(-600px);
}
.container{
  --bg-image:url('../image/index/indexpic.jpeg');
  --bg-image-filter:opacity(.8) brightness(.8); 
  object-position: bottom;
  width: 90%;
  height: 90vh;
  margin: 20px auto;
  object-fit: contain;
  border-radius: 30px;
  position: relative;
  isolation: isolate;


  
  
  
}
/* 背景圖片filter */
.container::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 30px;
  background-image:var(--bg-image);
  filter: var(--bg-image-filter);
}
/* header-container上排設定 */
.upperHeader{

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-left: 5em;
  padding-right: 5em;

}
.logo{
  width: 120px;
  cursor: pointer;
  padding-left: 1.2em;
}
/* navbar設定 */
.navbar ul{

display: inline-block;
display: flex;
flex-direction: row;
list-style-type: none;


  
}

.navbar ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin:0 0.7em;

}
.navbar ul li a:hover{
  background-color: #1048D8;
  color: white;
  padding: .3em .7em;
  margin: 0;
  border-radius: 20px;

}
.activity{
  position: absolute;
  top: 40px;
  right: 20px;
  

}
.activity ul{
  display: inline-block;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.activity ul li a{
  color: black;
  margin: 0 10px;
  text-decoration: none;

 }
 .activity ul li a:hover{
  color: #262F7E;
  text-decoration: underline;
 }
/* header-container文字跟按鈕 */
.header-content{
  margin-left: 50px;
  margin-top: 100px;
}
.header-title{
  color: white;
  font-size: 2.8rem;
  text-shadow: 1px 2px 2px  #1048D8;

 
  

}
.header-subtitle{
  color:#073D8C;
  font-size: 2rem;
}
.btn{
  color: white;
  padding: 10px 18px;
  background-color:#1048D8 ;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover{
  background-color: white;
  color: #1048D8;
  border:2px solid #1048D8;
}
/* menu漢堡 */
.menu-container{
  display: none;
}
/* 推薦列表 */
.recommend-list-container{
  width: 90%;
  margin: 20px auto;
  margin-top: 60px;
  margin-bottom: 50px;
}
.recommend-list-container h3{
  padding-top: 20px;
  display: block;
}
.recommend-list{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  
}
.recommend-item{
  cursor: pointer;
  
}
.recommend-item a{
  text-decoration: none;
  color: black;
}
.recommend-item:hover{
  filter: opacity(60%);
}

.recommend-item img{
  width: 80%;
  height: 330px;
  margin-bottom: .2em;
  object-fit: cover;
  border-radius: 40px;
  
}
.recommend-item h3{
  padding-left: 20px;
}
.recommend-item p{
  margin-top: -20px;
  padding-left: 20px;
}
/* 天氣卡片 */
.cards{
  display: flex;
  flex-direction: row;
  width: 95%;
}
.card{
  
  width: 24%;
  max-width: 300px;
  background: linear-gradient(135deg,#00f1fe,#5b548a);
  color: #fff;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px 0px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
  
  
}
.js-weather-icon{
  width: 40%;
}

.card .weather-icon{
  width: 20px;
  margin-top: -15px;
}
.weather h1{
  font-size: 2rem;
  font-weight: 500;
  margin-top: -15px;
}
.weather h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -20px;
}
.col p{
  font-size: .8rem;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 50px;

}
.col{
  display: flex;
  align-items: center;
  justify-content: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 10px;
  margin-top: -6px;
}



/* 熱門景點 */
.popular-location-container{
  width: 90%;
  margin: 0 auto;
  align-items: center;
  
}
.lightblue{
  background-color: #ECF2F7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lightblue img{
  padding: 3.2em 4em;
  width: 60%;
}
.lightblue-text{
  margin-left: 100px;
  margin-top: 160px;
}
.lightblue-text button a{
  margin-top: -15px;
  margin-bottom: 30px;
  list-style-type: none;
  color: white;
}
/* footer */
.footer{
  margin: 0 auto;
  background-color: #262F7E;
  width: 90%;
  color: white;
}
.darkblue{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;


}
.darkblue .logo{
  width: 200px;


}
.darkblue .inner-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.darkblue .icon-container{
  text-wrap: nowrap;
  margin-left: 20px;
}
i{
  color: white;
  margin: auto 10px;
  cursor: pointer;
}
/* 超連結及圖片 */
.bold{
  font-weight: bold;
  
}


.link-list{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 120px;
  color: white;
  

}



.link-list ul li{
  margin-bottom: 15px;
  list-style-type: none;

  
}
.link-list ul li a{
  text-decoration: none;
  color: white;
  
  text-wrap: nowrap;
}
.link-list ul li a:hover{
  text-decoration:underline;
}

.disclaimer{
  padding: .3em .5em;
}


/* 響應式網站 */

/* 視窗滾動的navbar */
.scrolled{
  display: none;
}


@media (max-width:1200px) {
  .upperHeader{
    padding-left: 10px;
    padding-right: 0;
  }
  
}
@media (max-width:1000px){
  .container{
    height: 550px;
  }
  .upperHeader{
    flex-direction: column;
   
   
  }
  .navbar ul{
    
    text-align: center;
  }
  .header-content{
    margin-left: 0px;
    margin-top: -30px;
    text-align: center;
    
   
  }
  .activity{
    margin-left: 600px;
    margin-bottom: 200px;
    
  }
  /* 推薦名單 */
 
  .recommend-item img{
    width: 240px;
  }

  /* 熱門景點 */
  .lightblue{
    flex-direction: column-reverse;
    }
  .lightblue img{
    padding: 0;
    margin: 2em auto;
  }
  .lightblue-text{
    margin-left: 0;
    margin-top: 0;
    margin: 2em auto;
    text-align: center;
  }

  /* link list */

  .link-list ul{
    margin-left: 0;
  }
  .link-list-container{
    position: absolute;
    top: 120px;
    font-size: 1.2rem;

  }
  .darkblue .inner-container{
    padding-bottom: 260px;
    position: relative;
  }
 
}
@media(max-width:960px){
  /* header大小 */
  .container{
    height: 550px;
  }
  .upperHeader{
    flex-direction: column;
  }
  .navbar ul{
    flex-direction: column;
    text-align: center;
  }
  .activity{
    right: 50px;
    text-wrap: nowrap;
  }
 .header-content{
  margin-left: 0px;
 }
 /* 天氣卡片*/
 .details{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
 }

 .col p{
  font-size: 8px;
 }
  /*footer 浮起後往下放 */


  .link-list{
    position: absolute;
  }

}
@media (max-width: 740px){
  /* 大盒子navbar */
  .container{
    
    position: fixed;
    top: 20px;
    z-index: 2;
    left: 15px;

  }
 
  /* 漢堡包 */
  .menu-container{
    display: block;
    float: right;
    padding-right: 10px;
    
  }
  #menu-icon{
    filter: opacity(0);
    color: white;
    padding-right: 20px;
    font-size: 2.2rem;
    transform: translateY(-36px);
  
  }

  
 
  .recommend-list-container{
    margin-top: 600px;
  }
  /* 選單 */
  .upperHeader {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      height: 100vh;
      width: 60%;
      background-color:#ECF2F7;
      transform: translateX(-600px);
      transition: all 500ms ease-in-out;

      
      
  }



  .navbar ul {
      flex-direction: column;
      text-align: center;
  }

  .navbar ul li {
      margin: 5px 0;
  }
  .navbar ul li a{
    color:#073D8C;
  }

  .activity{
    top:90%;
    right: 80px;

  }
  .activity ul {
    padding-right: .5em;
  }
  .activity ul li a{
    color:#073D8C;
  }
  .header-content{
    margin-left: 0px;
    padding-top: 60px;
  }

 
 /* 推薦列表 */
 .recommend-list{
  align-items: flex-start;
 }
 .recommend-item{
  width: 20%;
  filter: opacity(40%);
 }
 .recommend-item img{
  width: 120px;
 }
 .recommend-item:hover{
  width: 200px;
  filter: opacity(100%);
 }
.recommend-item:hover img{
  width: 200px;
}

/* 熱門景點 */
.lightblue img{
  width: 100%;
  margin-top: 0;
}
.lightblue-text{
  margin-top: 0px;
}
/* 天氣卡 */

/* footer */
 /* icon container */
 .icon-container i{
  margin: auto 4px;
  

}
 }

 @media(max-width:480px){
  /* header */
  .container{
    width: 90%;
    height: 400px;
  }


  .upperHeader{
    width: 80%;
  }
  /* 漢堡 */
  .menu-container{
    z-index: 10;
  }
  
  /* 推薦列表 */
  .recommend-list{
    justify-content: space-between;
  }
  .recommend-item{
    filter: none;
 

  }
  .recommend-item h3{
    width: 80px;
    margin-left:-18px;
    margin-top: -20px;

    text-wrap: nowrap;

  }
  .recommend-item p{
    width: 90px;
    margin-left: -18px;
    font-size: 12px;
    
  }
  .recommend-item img{
    width: 80px;
    height: 80px;
    filter: none;
    
  }
  .recommend-item:hover{
    width: 80px;
  }
  .recommend-item:hover img{
    width: 80px;
    height: 80px;
    filter: none;
    transform: translateX(0);
  }
  /* 天氣卡 */
  .weather h1{
    font-size: 1.2rem;
  }
  .weather h2{
    font-size: 1rem;
  }
  /* footer */
  
  
  .darkblue .logo{
    width: 6em;
  }
  .icon-container i{
    margin: auto 4px;
    
  }
  .link-list ul li a{
    font-size: 10px;
  }
  
  .disclaimer{
    font-size: 1rem;
    margin-top: -200px;

  }
  .link-list{
    display: none;
  }
 }



